<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Atiendeme - Reserva</title>


    <!-- Icons font CSS-->
    <link href="../../../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="../../../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">




    <!-- Vendor CSS-->
    <link href="../../../vendor/bootstrap/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Shared CSS-->
    <link href="../../../assets/css/shared.css" rel="stylesheet" media="all">
    <link href="../../../assets/css/calendar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="reservasec.css" rel="stylesheet" media="all">

</head>

<body>







    <nav class="navbar">
        <div class="content">
            <div class="logo">
                <a href="#">Atiendeme</a>
            </div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Citas</a></li>
                <li><a href="#">Pacientes</a></li>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">

        <section class="signup-step-container">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true">
                                            <span class="round-tab">
                                                <i class="fa fa-hospital-o" aria-hidden="true"></i>    
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false">
                                            <span class="round-tab">
                                             <i class="fa fa-user-md"  aria-hidden="true"></i>    
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab">
                                            <span class="round-tab">
                                                    <i class="fa fa-file-text-o"  aria-hidden="true"></i>   

                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab">
                                            <span class="round-tab">
                                                <i  class="fa fa-check-circle-o" aria-hidden="true"></i>   
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <form role="form" action="index.html" class="login-box">
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <h3 class="text-center mt-3 mb-5">Consultorios y Servicios</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Consultorios:</label>
                                                    <input list="dentistList" value="" class="custom-select custom-select-md">
                                                    <datalist id="dentistList">
                                                            <option value="MD" selected="selected">META DENTAL RD</option>
                                                            <option value="ID">InnovaDent</option>
                                                            <option value="OD">Odontine</option>
                                                    </datalist>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Servicios:</label>
                                                    <input list="treatmentList" value="" class="custom-select custom-select-md">
                                                    <datalist id="treatmentList">
                                                                <option value="Empaste Dental" selected="selected">Empaste Dental</option>
                                                                <option value="Cariología">Cariología</option>
                                                                <option value="Coronas">Coronas</option>
                                                        </datalist>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label"> ¿Está reserva es para un dependiente?</label>
                                                    <input list="opcion" value="" class="custom-select custom-select-md">
                                                    <datalist id="opcion">
                                                        <option value="SI" selected="selected">SI</option>
                                                        <option value="NO">NO </option>
                                                    </datalist>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Dependiente:</label>
                                                    <input list="dependientesList" value="" class="custom-select custom-select-md">
                                                    <datalist id="dependientesList">
                                                        <option value="Leidy Laura" selected="selected">Leidy Laura</option>
                                                        <option value="Miguel Evangelista">Miguel Evangelista </option>
                                                        <option value="Jose Pérez">Jose Pérez</option>
                                                    </datalist>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline pull-right">
                                            <li><button type="button" class="default-btn next-step">Siguiente</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step2">
                                        <h3 class="text-center mt-3 mb-5">Fecha y doctores disponibles</h3>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="example-datetime-local-input" class="form-label">Fecha</label>
                                                    <input type="text" class="form-control" name="datefilter" value="" />
                                                    <span class="fa fa-calendar input-icon-general"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="form-label">Doctores:</label>
                                                    <input list="doctosList" value="" class="custom-select custom-select-md">
                                                    <span class="fa fa-user-md input-icon-general" style="margin-right: 50px"></span>

                                                    <datalist id="doctosList">
                                                                <option value="Dr. Delgado" selected="selected">Dr. Delgado</option>
                                                                <option value="Dr. Rafael">Dr. Rafael</option>
                                                                <option value="Dr. Federico">Dr. Federico</option>
                                                    </datalist>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="card booking-schedule schedule-widget">
                                                    <div class="schedule-header">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="day-slot">
                                                                    <ul>
                                                                        <li class="left-arrow"><a href=""><i class="fa fa-chevron-left"></i></a></li>
                                                                        <li><span>Mon</span><span class="slot-date">11 Nov <small class="slot-year">2019</small></span></li>
                                                                        <li><span>Tue</span><span class="slot-date">12 Nov <small class="slot-year">2019</small></span></li>
                                                                        <li><span>Wed</span><span class="slot-date">13 Nov <small class="slot-year">2019</small></span></li>
                                                                        <li><span>Thu</span><span class="slot-date">14 Nov <small class="slot-year">2019</small></span></li>
                                                                        <li><span>Fri</span><span class="slot-date">15 Nov <small class="slot-year">2019</small></span></li>
                                                                        <li><span>Sat</span><span class="slot-date">16 Nov <small class="slot-year">2019</small></span></li>
                                                                        <li><span>Sun</span><span class="slot-date">17 Nov <small class="slot-year">2019</small></span></li>
                                                                        <li class="right-arrow"><a href=""><i class="fa fa-chevron-right"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="schedule-cont">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="time-slot">
                                                                    <ul class="clearfix">
                                                                        <li><a class="timing" href=""><span>9:00</span> <span>AM</span></a><a class="timing" href=""><span>10:00</span> <span>AM</span></a><a class="timing" href=""><span>11:00</span> <span>AM</span></a></li>
                                                                        <li><a class="timing" href=""><span>9:00</span> <span>AM</span></a><a class="timing" href=""><span>10:00</span> <span>AM</span></a><a class="timing" href=""><span>11:00</span> <span>AM</span></a></li>
                                                                        <li><a class="timing" href=""><span>9:00</span> <span>AM</span></a><a class="timing" href=""><span>10:00</span> <span>AM</span></a><a class="timing" href=""><span>11:00</span> <span>AM</span></a></li>
                                                                        <li><a class="timing" href=""><span>9:00</span> <span>AM</span></a><a class="timing" href=""><span>10:00</span> <span>AM</span></a><a class="timing" href=""><span>11:00</span> <span>AM</span></a></li>
                                                                        <li><a class="timing" href=""><span>9:00</span> <span>AM</span></a><a class="timing selected" href=""><span>10:00</span> <span>AM</span></a><a class="timing" href=""><span>11:00</span> <span>AM</span></a></li>
                                                                        <li><a class="timing" href=""><span>9:00</span> <span>AM</span></a><a class="timing" href=""><span>10:00</span> <span>AM</span></a><a class="timing" href=""><span>11:00</span> <span>AM</span></a></li>
                                                                        <li><a class="timing" href=""><span>9:00</span> <span>AM</span></a><a class="timing" href=""><span>10:00</span> <span>AM</span></a><a class="timing" href=""><span>11:00</span> <span>AM</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <ul class="list-inline pull-right">
                                            <li><button type="button" class="default-btn prev-step">Atras</button></li>
                                            <li><button type="button" class="default-btn next-step">Continue</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step3">
                                        <h3 class="text-center mt-3 mb-5">Detalles</h3>
                                        <div class="all-info-container">
                                            <div class="list-content">
                                                <a href="#listone" data-toggle="collapse" aria-expanded="false" aria-controls="listone">Consultorio y Servicio<i class="fa fa-chevron-down"></i></a>
                                                <div class="collapse" id="listone">
                                                    <div class="list-box">
                                                        <div class="row">
                                                            <div class="col-md-4 offset-md-2">
                                                                <p><strong>Consultorio:</strong> Dentis Care </p>
                                                            </div>

                                                            <div class="col-md-4 offset-md-2">
                                                                <p><strong>Servicio:</strong> Cariología </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-content">
                                                <a href="#listtwo" data-toggle="collapse" aria-expanded="false" aria-controls="listtwo">Medico y Horario <i class="fa fa-chevron-down"></i></a>
                                                <div class="collapse" id="listtwo">
                                                    <div class="list-box">
                                                        <div class="row">
                                                            <div class="col-md-4 offset-md-2">
                                                                <p><strong>Fecha:</strong> 12/12/2012 </p>
                                                            </div>

                                                            <div class="col-md-4 offset-md-2">
                                                                <p><strong>Horario:</strong> 9 AM</p>
                                                            </div>
                                                        </div>

                                                        <div class="row mt-3">
                                                            <div class="col-md-4 offset-md-2">
                                                                <p><strong>Doctor:</strong> Dr. Delgado</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline pull-right">
                                            <li><button type="button" class="default-btn prev-step">Atras</button></li>
                                            <li><button type="button" class="default-btn next-step">Finalizar</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step4">

                                        <div class="card success-card">
                                            <div class="card-body">
                                                <div class="success-cont">
                                                    <i class="fa fa-check"></i>
                                                    <h3>¡Cita reservada con exito!</h3>
                                                    <p>Cita con el
                                                        <strong>Dr. Delgado</strong>
                                                        <br> para el
                                                        <strong>12 Nov 2019 5:00PM A 6:00PM</strong>
                                                    </p>

                                                    <a class="btn btn-primary view-inv-btn" style="background: none" href="#">
Ir al menu
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Jquery JS-->
    <script src="../../../vendor/jquery/jquery.min.js"></script>
    <script src="../../../vendor/bootstrap/bootstrap.min.js"></script>
    <!-- Vendor JS-->
    <script src="../../../vendor/datepicker/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <!-- Main JS-->
    <script src="reservasec.js"></script>
    <script src="../../../scripts/shared.js"></script>

</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->