<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../vendor/bootstrap/bootstrap.min.css">

    <!-- Shared CSS-->
    <link href="../../assets/css/shared.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="aboutus.css">


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>


    <!-- Servicios -->
    <div class="container-fluid text-center">

        <nav class="navbar">
            <div class="content">
                <div class="logo">
                    <a href="#">Atiendeme</a>
                </div>
                <ul class="menu-list">
                    <div class="icon cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>
                    <li><a href="../Main/index.html">Inicio</a></li>
                    <li><a href="#about-us">Sobre Nosotros</a></li>
                    <li><a href="#contact-us">Contactanos</a></li>
                    <li><a href="../Registro/registro.html">Registrarse</a></li>
                    <li><a href="#">Iniciar sesión</a></li>
                </ul>
                <div class="icon menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>


        <h2>SERVICIOS</h2>
        <h4> Nos esforzamos por brindar una atencion completa a nuestros pacientes. Conozca mas sobre todos los servicios que brindamos. </h4>

        <br>
        <div class="row">
            <div class="col-sm-4">
                <img src="../../assets/images/implants.png" class="glyphicon glyphicon-off logo-small">
                <h4>Implantes</h4>
                <p>Los implantes dentales son el metodo estandar de oro para reemplazar dientes faltantes o muy dañados.</p>
            </div>

            <div class="col-sm-4">
                <img src="../../assets/images/root-canal.png" class="glyphicon glyphicon-off logo-small">
                <h4>Tratamiento de Conducto</h4>
                <p>Tratamiento suave del conducto radicular por dentista con formarcion especializada. </p>
            </div>

            <div class="col-sm-4">
                <img src="../../assets/images/braces.png" class="glyphicon glyphicon-off logo-small">
                <h4> Ortodoncia </h4>
                <p>Aparatos de ortodoncia cosmeticos con un tiempo de tratamiento promedio de 18 meses a 24 meses. </p>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-sm-4">
                <img src="../../assets/images/twilight.png" class="glyphicon glyphicon-off logo-small">
                <h4>Sedacion Dental (Crepuscular) para pacientes nerviosos </h4>
                <p>Para pacientes extremadamente nerviosos o fobicos al tratamiento dental. </p>
            </div>

            <div class="col-sm-4">
                <img src="../../assets/images/hygienist.png" class="glyphicon glyphicon-off logo-small">
                <h4>Higienista</h4>
                <p>Contamos con un higienista dental dedicado en nuestra practica que se encargara de todas sus necesidades de higiene bucal.</p>

            </div>
            <div class="col-sm-4">
                <img src="../../assets/images/crowns.png" class="glyphicon glyphicon-off logo-small">
                <h4> Coronas </h4>
                <p> Coronas de Porcelana de gran estetica. </p>
            </div>
        </div>
    </div>

    <!-- Contact us -->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/bootstrap.min.js"></script>